* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
}

.navbar {
    background-color: #1877f2;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    margin-bottom: 5px;
    font-size: 32px;
}

.navbar p {
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
}

.container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.create-post,
.feed {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}